xlm/Reyes.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT Reyes (regente|pretendiente)*>
<!ELEMENT regente (nombreCompleto, apodo, curiosidad+, nacimiento, LaRioja?, BajaNavarra?, Francia?, Aragon?, Castilla?, Leon?)>
<!ELEMENT pretendiente (nombreCompleto, pretension, curiosidad+, nacimiento)>

<!ELEMENT nombreCompleto (#PCDATA)>
<!ELEMENT apodo (#PCDATA)>
<!ELEMENT curiosidad (#PCDATA)>
<!ELEMENT nacimiento (#PCDATA)>
<!ELEMENT LaRioja EMPTY>
<!ELEMENT BajaNavarra EMPTY>
<!ELEMENT Francia EMPTY>
<!ELEMENT Aragon EMPTY>
<!ELEMENT Castilla EMPTY>
<!ELEMENT Leon EMPTY>
<!ELEMENT pretension (#PCDATA)>

<!ATTLIST Reyes 
	nombreOficial CDATA #REQUIRED
>
<!ATTLIST regente 
	genero (rey|reina) #REQUIRED
	inicioReinado CDATA #IMPLIED
	finReinado CDATA #IMPLIED
	dinastia (Arista|Jimena|Champaña|Capeta|Évreux|Trastamara|Foix|Albret|Borbon|Austria|Saboya|Bonaparte) #REQUIRED
>
<!ATTLIST pretendiente 
	genero (rey|reina) #REQUIRED
	dinastia (Arista|Jimena|Champaña|Capeta|Évreux|Trastamara|Foix|Albret|Borbon|Austria|Saboya|Bonaparte) #REQUIRED
>